<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - GeminHack</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{home}}statics/favicon-ghack-1024.png" type="image/png" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{home}}statics/ghack.css">
        <script src="https://unpkg.com/@popperjs/core@2.3.3/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6.2.0/dist/tippy-bundle.umd.min.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{home}}">PYTHO Gemini Manager</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="{{gemini}}/dashboard" target="gemini">Gemini</a>
            </nav>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script>
        tippy('[data-tippy-content]', {allowHTML: true, flip:true, interactive:true, maxWidth:700});
    </script>
</html>