{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Workspaces</h1>
    <p class="lead">Quickly navigate GEMINI's custom workspaces.</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
    {% for key in prefixes %} 
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{key}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><a href="active/{{key|lower}}">Active</a></li>
            <li><a href="waiting/{{key|lower}}">Waiting</a></li>
            <li><a href="all/{{key|lower}}">All</a></li>
            <li><hr></li>
            <li><a href="workspace/{{key|lower}}">Workspace</a></li>
            <li><hr></li>
            <li>
              <form>
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control form-control-sm" id="{{key}}_issuenum" placeholder="123456"/>
                  </div>
                  <div class="col">
                    <button id="{{key}}_button" class="btn btn-outline-primary btn-sm">Clone</button>
                  </div>
                </div>
              </form>
              <script>
                $(function () {
                  $('#{{key}}_button').click(function (event) {
                    if ($('#{{key}}_issuenum').val() == "") {                      
                      event.preventDefault();
                      return
                    }
                    var posturi = '{{home}}items/{{key|upper}}/' + $('#{{key}}_issuenum').val();
                    $('#{{key}}_button').prop('disabled', true)
                    $('#{{key}}_issuenum').val('');
                    console.log(posturi);
                    $.post(posturi, {}, function () {
                        $(window.location).attr('href', 'all/{{key|lower}}');
                      }
                    );
                    event.preventDefault();
                  });
                });
              </script>
            </li>
          </ul>
        </div>
      </div>
    {%endfor%}
    </div>
</div>
{% endblock %}
