{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h5>
    {{title}}: 
    <a href="{{ workspace }}" target="workspace">workspace</a> 
    and 
    <a href="{{ project_page }}" target="project">project</a>
</h5>
<table class="table table-striped">
    <tr>
        <th>
            Issue
        </th>
        <th>
            Zube
        </th>
        <th>
            Title
        </th>
        <th>
            Assignees
        </th>
        <th>
            Status
        </th>
        <th>
            Priority/Severity
        </th>
        <th>
            Last commenter
        </th>
        <th>
            Revised
        </th>
    </tr>
    {% for ti in rows %}
    <tr>
        <td>
            <a href="{{ (ti['item_url']) }}" target="_blank">{{ ti["IssueKey"] }}</a>
        </td>
        <td>
            {% if ti['zubeids'] %}
                {% for zid in ti['zubeids'] %}
                    {{ zid }}
                {% endfor %}
            {% else %}
                <form action="{{home}}items/{{ti['IssueKey'].replace('-', '/')}}" method="POST">
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            {% endif %}
        </td>
        <td>
            <span data-tippy-content="{{ ti['description'] }}" >
                {{ ti['Title'] }}
            </span>
        </td>
        <td>
            {{ ti.get('Responsible', {}).get('FormattedData') or ti.get('risorse') or '' }}
        </td>
        <td>
            {{ ti["Status"] }}
        </td>
        <td>
            {{ ti["Priority"] }}/{{ ti["Severity"].split(" ")[-1] }}
        </td>
        <td>
            <span data-tippy-content="{{ ti['last_comment'] }}">
                {{ ti['last_commenter'] }}
            </span>
        </td>
        <td>
            {{ ti["Revised"].split('T')[0] }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}