{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1><a href="{{ workspace }}">PYTHO</a> wip <a href="{{ project_page }}" target="_blank">tickets</a></h1>
<table class="table table-striped">
    <tr>
        <th>
            Issue
        </th>
        <th>
            Title
        </th>
        <th>
            Responsible
        </th>
        <th>
            Status
        </th>
        <th>
            Priority/Severity
        </th>
        <th>
            Last commenter
        </th>
        <th>
            Revised
        </th>
    </tr>
    {% for ti in rows %}
    <tr>
        <td>
            <a href="{{ (ti['item_url']) }}" target="_blank">{{  ti["IssueKey"] }}</a>
        </td>
        <td>
            <button type="button" class="btn" data-toggle="popover" title="{{ ti['Title'] }}"
                    data-content="{{ ti['BaseEntity']['Description'] }}" data-placement="right" data-html="true">
                {{ ti['Title'] }}
            </button>
        </td>
        <td>
            {{ ti['Responsible']['FormattedData'] }}
        </td>
        <td>
            {{ ti["Status"] }}
        </td>
        <td>
            {{ ti["Priority"] }}/{{ ti["Severity"].split(" ")[-1] }}
        </td>
        <td>
            <button type="button" class="btn" data-toggle="popover" title="{{ ti['last_commenter'] }}"
                    data-content="{{ ti['last_comment'] }}" data-placement="left" data-html="true">
                {{ ti['last_commenter'] }}
            </button>
        </td>
        <td>
            {{ ti["Revised"].split('T')[0] }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}